<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MoGo</title>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/fm.revealator.jquery.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="icon" href="img/m-logo.png">
</head>
<body>
<!--Header whith bootstrap navbar and fixed anchor for fast go-to-top of the page-->
<header id="top">
    <div class="maincontainer">
        <nav class="navbar navbar-default max-width">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">MoGo</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#about">About</a></li>
                        <li><a href="#services">Service</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#work">Work</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="#"><img src="img/ShopingCart.svg" alt="Shoping cart icon"></a></li>
                        <li><a href="#"><img src="img/SEARCH.svg" alt="Search icon"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="title-holder">
            <h2>Creative Template</h2>
            <h1>Welcome to MoGo</h1>
        </div>
        <button class="btn-header">Learn more</button>
    </div>

    <div class="go-top">
        <a href="#top">
            <div class="link-holder">
                <i class="fas fa-angle-double-up"></i>
            </div>
        </a>
    </div>
</header>
<!--Section "About" with bootstrap grid-->
<section id="about">
    <div class="maincontainer">
        <div class="title-holder revealator-zoomin revealator-duration6">
            <h3>What we do</h3>
            <h2>Story about us</h2>
        </div>
        <p class="title-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequa</p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="img-wrapper">
                        <img src="img/about1.jpg" alt="Image About">
                        <div class="hover-effect">
                            <div class="text-holder">
                                <i class="fas fa-users"></i>
                                <h4>Super team</h4>
                            </div>
                        </div>
                        <div class="hover-green">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="img-wrapper">
                        <img src="img/about2.jpg" alt="Image About">
                        <div class="hover-effect">
                            <div class="text-holder">
                                <i class="fas fa-briefcase"></i>
                                <h4>Excellent services</h4>
                            </div>
                        </div>
                        <div class="hover-green">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="img-wrapper">
                        <img src="img/about3.jpg" alt="Image About">
                        <div class="hover-effect">
                            <div class="text-holder">
                                <i class="fas fa-coffee"></i>
                                <h4>Amazing office</h4>
                            </div>
                        </div>
                        <div class="hover-green">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section "Counter" whit JS plugin animated counter-->
<section class="counter">
    <div class="maincontainer">
        <div class="counter-holder">
            <h3 class="spincrement">42</h3>
            <h4>Web design projects</h4>
        </div>
        <div class="counter-holder">
            <h3 class="spincrement">123</h3>
            <h4>Happy client</h4>
        </div>
        <div class="counter-holder">
            <h3 class="spincrement">15</h3>
            <h4>Award winner</h4>
        </div>
        <div class="counter-holder">
            <h3 class="spincrement">99</h3>
            <h4>Cup or coffee</h4>
        </div>
        <div class="counter-holder">
            <h3 class="spincrement">24</h3>
            <h4>Members</h4>
        </div>

    </div>
</section>
<!--Section Services with bootstrap grid-->
<section id="services">
    <div class="maincontainer">
        <div class="title-holder revealator-slideright revealator-duration6">
            <h3>We work with</h3>
            <h2>Amazing services</h2>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="content-holder">
                        <div class="image-holder">
                            <img src="img/ALARM.svg" alt="Alarm icon">
                        </div>
                        <div class="text-holder">
                            <h4>Photography</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="content-holder">
                        <div class="image-holder">
                            <img src="img/LINEGRAPH.svg" alt="Line Graph icon">
                        </div>
                        <div class="text-holder">
                            <h4>Web design</h4>
                            <p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="content-holder">
                        <div class="image-holder">
                            <img src="img/COMP.svg" alt="Computer icon">
                        </div>
                        <div class="text-holder">
                            <h4>Creativity</h4>
                            <p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempror.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="content-holder">
                        <div class="image-holder">
                            <img src="img/BOOK.svg" alt="Book icon">
                        </div>
                        <div class="text-holder">
                            <h4>SEO</h4>
                            <p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="content-holder">
                        <div class="image-holder">
                            <img src="img/HOME.svg" alt="House icon">
                        </div>
                        <div class="text-holder">
                            <h4>CSS/HTML</h4>
                            <p>Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="content-holder">
                        <div class="image-holder">
                            <img src="img/IMAGE.svg" alt="Image icon">
                        </div>
                        <div class="text-holder">
                            <h4>Digital</h4>
                            <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section Design, just a couple of photos with absolute positionin-->
<section class="design">
    <div class="maincontainer">
        <div class="title-holder revealator-slideleft revealator-duration6">
            <h3>For all devices</h3>
            <h2>Unique design</h2>
        </div>
        <img class="img-restonsive img-big" src="img/tablet.png" alt="Tablet">
        <img class="img-absolute" src="img/smart.png" alt="Smartphone">
    </div>
</section>
<!--Section "What we do" with bootstrap grid and bootstrap accordion and slick-slider-->
<section class="what-we-do">
    <div class="maincontainer">
        <div class="title-holder revealator-slideright revealator-duration6">
            <h3>Service</h3>
            <h2>What we do</h2>
        </div>
        <p class="title-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo consequat. </p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="content-holder">
                        <div class="image-holder">
                            <img src="img/whatwedo.jpg" alt="What we do image">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="content-holder">
                        <div class="text-holder">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel">
                                    <div class="panel-heading" role="tab" id="heading1">
                                        <div class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                                <div class="accord-header">
                                                    <img src="img/PICTURE.svg" alt="Picture icon">
                                                    <h4>Photography</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
                                        <div class="panel-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                                laborum.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading" role="tab" id="heading2">
                                        <div class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                                <div class="accord-header">
                                                    <img src="img/EQUALIZER.svg" alt="Equalizer icon">
                                                    <h4>Creativity</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                        <div class="panel-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                                velit esse cillum dolore eu fugiat nulla pariatur.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading" role="tab" id="heading3">
                                        <div class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                                <div class="accord-header">
                                                    <img src="img/BULLSEYE.svg" alt="Rounded icon">
                                                    <h4>Web desing</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                        <div class="panel-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-first padder">
            <div class="slider-item">
                <div class="item-container">
                    <div class="image-wrapper">
                        <img src="img/SPEECH.svg" alt="Dialogue icon">
                    </div>
                    <div class="slick-text">
                        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim </p>
                        <h5>Jon Doe</h5>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="item-container">
                    <div class="image-wrapper">
                        <img src="img/SPEECH.svg" alt="Dialogue icon">
                    </div>
                    <div class="slick-text">
                        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim. Ut enim ad minim veniam. </p>
                        <h5>Jon Walsh</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section Team with dynamic generating conten with the AJAX-request, slick slider and on-click modale window-->
<section id="team">
    <div class="maincontainer">
        <div class="title-holder revealator-slideleft revealator-duration6">
            <h3>Who we are</h3>
            <h2>Meet our team</h2>
        </div>
        <p class="title-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. </p>
        <div class="slider-ajax">
            <!--Dynamic generated contend using AJAX-reques and Jscript-->
        </div>

    </div>
</section>

<!--Section Work with isotope layout-->
<section id="work">
    <div class="maincontainer">
        <div class="title-holder revealator-slideright revealator-duration6">
            <h3>What we do</h3>
            <h2>Some of our work</h2>
        </div>
        <p class="title-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo consequat.  </p>
    </div>
    <div class="isotope">
        <div class="isotope-item">
            <div class="image-holder">
                <img src="img/gallery1.jpg" alt="Gallery image">
                <div class="hover-effect">
                    <div class="text-holder">
                        <img src="img/whitepicture.svg" alt="Picture icon">
                        <h4>Creatively designed</h4>
                        <p>Lorem ipsum dolor set</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="isotope-item">
            <div class="image-holder">
                <img src="img/gallery2.jpg" alt="Gallery image">
                <div class="hover-effect">
                    <div class="text-holder">
                        <img src="img/whitepicture.svg" alt="Picture icon">
                        <h4>Creatively designed</h4>
                        <p>Lorem ipsum dolor set</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="isotope-item">
            <div class="image-holder">
                <img src="img/gallery3.jpg" alt="Gallery image">
                <div class="hover-effect">
                    <div class="text-holder">
                        <img src="img/whitepicture.svg" alt="Picture icon">
                        <h4>Creatively designed</h4>
                        <p>Lorem ipsum dolor set</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="isotope-item">
            <div class="image-holder">
                <img src="img/gallery4.jpg" alt="Gallery image">
                <div class="hover-effect">
                    <div class="text-holder">
                        <img src="img/whitepicture.svg" alt="Picture icon">
                        <h4>Creatively designed</h4>
                        <p>Lorem ipsum dolor set</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="isotope-item">
            <div class="image-holder">
                <img src="img/gallery5.jpg" alt="Gallery image">
                <div class="hover-effect">
                    <div class="text-holder">
                        <img src="img/whitepicture.svg" alt="Picture icon">
                        <h4>Creatively designed</h4>
                        <p>Lorem ipsum dolor set</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="isotope-item">
            <div class="image-holder">
                <img src="img/gallery6.jpg" alt="Gallery image">
                <div class="hover-effect">
                    <div class="text-holder">
                        <img src="img/whitepicture.svg" alt="Picture icon">
                        <h4>Creatively designed</h4>
                        <p>Lorem ipsum dolor set</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="isotope-item">
            <div class="image-holder">
                <img src="img/gallery7.jpg" alt="Gallery image">
                <div class="hover-effect">
                    <div class="text-holder">
                        <img src="img/whitepicture.svg" alt="Picture icon">
                        <h4>Creatively designed</h4>
                        <p>Lorem ipsum dolor set</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Section Client with bootstrap grid-->
<section class="clients">
    <div class="maincontainer">
        <div class="title-holder revealator-slideleft revealator-duration6">
            <h3>Happy clients</h3>
            <h2>What people say</h2>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-612 col-md-6">
                    <div class="client">
                        <div class="img-wrapper">
                            <img class="img-responsive" src="img/client1.png" alt="Client image">
                        </div>
                        <div class="text-holder">
                            <h4>Matthew Dix</h4>
                            <h5>Graphic design</h5>
                            <div class="separator"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-612 col-md-6">
                    <div class="client">
                        <div class="img-wrapper">
                            <img class="img-responsive" src="img/client2.png" alt="Client image">
                        </div>
                        <div class="text-holder">
                            <h4>Nick Karvounis</h4>
                            <h5>Graphic design</h5>
                            <div class="separator"></div>
                            <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-612 col-md-6">
                    <div class="client">
                        <div class="img-wrapper">
                            <img class="img-responsive" src="img/client3.png" alt="Client image">
                        </div>
                        <div class="text-holder">
                            <h4>Jayelin Kastilo</h4>
                            <h5>Graphic design</h5>
                            <div class="separator"></div>
                            <p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-612 col-md-6">
                    <div class="client">
                        <div class="img-wrapper">
                            <img class="img-responsive" src="img/client4.png" alt="Client image">
                        </div>
                        <div class="text-holder">
                            <h4>Mike Petrucci</h4>
                            <h5>Graphic design</h5>
                            <div class="separator"></div>
                            <p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--Section Blog with bootstrap grid-->
<section id="blog">
    <div class="maincontainer">
        <div class="title-holder revealator-slideright revealator-duration6">
            <h3>Our stories</h3>
            <h2>Latest blog</h2>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="content-holder">
                        <div class="image-holder">
                            <img class="image-responsive" src="img/blog1.jpg" alt="Blog image">
                            <div class="green-date">
                                <p class="day">25</p>
                                <p class="month">Sep</p>
                            </div>
                        </div>
                        <div class="text-holder">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna. </p>
                            <div class="views">
                                <img src="img/VIEW.svg" alt="View icon">
                                <span>542</span>
                            </div>
                            <div class="citates">
                                <img src="img/CITATES.svg" alt="Citated icon">
                                <span>17</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="content-holder">
                        <div class="image-holder">
                            <img class="image-responsive" src="img/blog2.jpg" alt="Blog image">
                            <div class="green-date">
                                <p class="day">23</p>
                                <p class="month">Sep</p>
                            </div>
                        </div>
                        <div class="text-holder">
                            <h4>sed do eiusmod tempor</h4>
                            <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="views">
                                <img src="img/VIEW.svg" alt="View icon">
                                <span>992</span>
                            </div>
                            <div class="citates">
                                <img src="img/CITATES.svg" alt="Citated icon">
                                <span>42</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="content-holder">
                        <div class="image-holder">
                            <img class="image-responsive" src="img/blog3.jpg" alt="Blog image">
                            <div class="green-date">
                                <p class="day">15</p>
                                <p class="month">Sep</p>
                            </div>
                        </div>
                        <div class="text-holder">
                            <h4>incididunt ut labore et dolore</h4>
                            <p>Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="views">
                                <img src="img/VIEW.svg" alt="View icon">
                                <span>1560</span>
                            </div>
                            <div class="citates">
                                <img src="img/CITATES.svg" alt="Citated icon">
                                <span>98</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section Map with bootstrap modal window, that contains Google map created with JS-->
<section class="map">
    <div class="maincontainer  revealator-zoomin revealator-duration8">
        <a href="#" data-toggle="modal" data-target="#mapModal">
            <img src="img/marker.svg" alt="Map icon">
            <h2>Open map</h2>
        </a>
    </div>
</section>
<!--Section Contact with bootstrap horizontal form, whit HTML validation. Form sending blocke due to no backend at the moment-->
<section id="contact">
    <div class="maincontainer">
        <div class="title-holder revealator-slideright revealator-duration6">
            <h3>Loved us?</h3>
            <h2>Contact us</h2>
        </div>
        <div class="form-holder">
            <form class="form-horizontal" data-toggle="validator" onsubmit="return false;">
                <div class="error help-block with-errors"></div>
                <div class="form-group has-feedback">
                    <label for="inputName3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" id="inputName3" placeholder="Name" data-minlength="3" pattern="[A-Za-z]{4,}" required="required">
                        </div>
                        <span class="glyphicon form-control-feedback"></span>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-envelope"></i></span>
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email" data-minlength="5" required="required">
                        </div>
                        <span class="glyphicon form-control-feedback"></span>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="inputCellphone3" class="col-sm-2 control-label">Cellphone</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-phone-square"></i></span>
                            <input type="tel" class="form-control" id="inputCellphone3" placeholder="Cellphone" data-minlength="10" pattern="[0-9]{4,}" required="required">
                        </div>
                        <span class="glyphicon form-control-feedback"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-10">
                        <button id="submitForm" type="submit" class="btn btn-green">Contact us</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="linkholder">
            <a href="https://facebook.com" target="_blank"><img src="img/facebook.svg" alt="Facebook icon"></a>
            <a href="https://twitter.com" target="_blank"><img src="img/twitter.svg" alt="Facebook icon"></a>
            <a href="https://instagram.com" target="_blank"><img src="img/instagram.svg" alt="Facebook icon"></a>
            <a href="https://pinterest.com" target="_blank"><img src="img/pinterest.svg" alt="Facebook icon"></a>
            <a href="https://googleplus.com" target="_blank"><img src="img/googleplus.svg" alt="Facebook icon"></a>
            <a href="https://youtube.com" target="_blank"><img src="img/youtube.svg" alt="Facebook icon"></a>
            <a href="https://dribble.com" target="_blank"><img src="img/dribbble.svg" alt="Facebook icon"></a>
            <a href="https://tumblr.com" target="_blank"><img src="img/tumblr.svg" alt="Facebook icon"></a>
        </div>
        <div class="copyright">
            <p>&copy;2016 MoGo free PSD template by <span>Laaqiq</span></p>
        </div>
    </div>
</section>

<!--Bootstrap modale window with map, generated by JS-->
<div id="mapModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="title-holder">
                    <h3>Our location</h3>
                    <h2>Here you can find us</h2>
                </div>
            </div>
            <div id="map" class="modal-body">

            </div>
        </div>
    </div>
</div>

<!--Bootstrap modale window, that would be filled in by the on-click function-->
<div id="teamMemberInfo" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="title-holder">
                    <h3>Our talented team</h3>
                    <h2>Team member details</h2>
                </div>
            </div>
            <div class="modal-body details">
                <div class="img-wrapper img-responsive">
                    <img src="#" alt="Team member photo">
                </div>
                <div class="text-holder">
                    <h4>Name:</h4>
                    <h5>Specialization</h5>
                    <div>
                        <a href="#"><span class="link">Email:</span><span class="email"></span> </a>
                    </div>
                    <p>Phone number: <span class="phone"></span></p>
                    <p>Cell number: <span class="cell"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Template for using with LoDash-->
<script id="template" type="text/html">
    <div class="ajax-slider-item">
        <div  class="img-wrapper">
            <img class="img-responsive teamMemberPhoto" src="<%- src %>" alt="Team member image">
            <div class="hover-effect">
                <div class="text-holder">
                    <i class="fas fa-hand-point-up"></i>
                    <h4>Click for details</h4>
                </div>
            </div>
            <div class="hover-green">
            </div>
        </div>
        <h4 class="name"><%- name %></h4>
        <h5 class="specialization"><%- specialization %></h5>
        <div class="teamMemberDetails" data-emeil="<%- email %>" data-phone="<%- phone %>" data-cell="<%- cell %>">
        </div>
    </div>
</script>


<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script src="js/lib/jquery.spincrement.min.js"></script>
<script src="js/lib/fm.revealator.jquery.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>